# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
app/bootstrap.php.cache
build/
bin/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Vagrant
.vagrant/*